<div class="row">
    <div class="col-md-12 mx-auto mt-5">
      <div class="table-responsive-md">
        <table class="table table-sm table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Pedido</th>
                <th scope="col">Total</th>
                <th scope="col">Estatus</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Cafe americano</td>
                <td>$5.00</td>
                <td>Por Cobrar</td>
              </tr>
              <tr>
                  <th scope="row">2</th>
                  <td>Tony</td>
                  <td>Cafe americano
                      Sandwich
                  </td>
                  <td>$15.00</td>
                  <td>Pagado</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Ana</td>
                    <td>Jugo
                    </td>
                    <td>$7.00</td>
                    <td>Por Cobrar</td>
                  </tr>
                  <tr>
                      <th scope="row">4</th>
                      <td>Isabella</td>
                      <td>Sandwich
                          Jugo
                      </td>
                      <td>$17.00</td>
                      <td>Pagado</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Kerla</td>
                        <td>Cafe americano
                            Sandwich
                        </td>
                        <td>$15.00</td>
                        <td>Pagado</td>
                      </tr>
            </tbody>
          </table>
      </div>
    </div>
</div>